.page-questions-index
  %h1= t('page.questions.index')

  = page_button_group :questions do |g|
    - g.add '发起提问', '/questions/new'

  = paginate @questions
  
  = page_tile(:questions, @questions) do |tile|
    - tile.add_left(:avatar) do |question|
      = avatar question.creator

    - tile.add(:activity, :quiet) do |question|
      杜甫老师 回答了这个问题 #TODO
    - tile.add(:title) do |question|
      %a{:href => "/questions/#{question.id}"}= question.title
    - tile.add(:content)

    - tile.add_foot(:add_fav) do |question|
      %a{:herf => 'javascript:;'} 关注问题
    - tile.add_foot(:answers) do |question|
      %a{:href => 'javascript:;'}= "#{question.answers.count} 个回答"
    - tile.add_foot(:comment) do
      %a{:href => 'javascript:;'} 5 条评论 #TODO