= f.label :answer, "答案"
= f.text_field :answer
= f.label :code_type, "语言"
= f.text_field :code_type
= f.label :desc, "描述"
= f.text_area :desc
= f.label :rule, "规则"
= f.text_area :rule
= f.label :init_code, "起始代码"
= f.text_area :init_code
