= form_for @question do |f|
  = hidden_field_tag :kind, @question.kind
  = f.label :knowledge_node_id, "知识点"
  = f.select :knowledge_node_id, [1, 2, 3, 4]
  = f.label :title, "标题"
  = f.text_field :title
  - locals = {:f => f, :question => @question}
  - case @question.kind
  - when :single_choice, :multiple_choices
    = render :partial => "knowledge_questions/parts/choice", :locals => locals
  - when :true_false
    = render :partial => "knowledge_questions/parts/true_false", :locals => locals
  - when :code
    = render :partial => "knowledge_questions/parts/code", :locals => locals
  %div
    = f.submit "提交", :class => "btn success-flat"
