.pblock.table
  = page_data_table(:'course-applies', @applies, :striped, :bordered) do |table|
    - table.add_column(:user) do |apply|
      = user_link apply.user
    - table.add_column(:course) do |apply|
      = course_link apply.course
    - table.add_column(:cid) do |apply|
      = apply.course.present? ? apply.course.cid : ''
    - table.add_column(:status) do |apply|
      = course_apply_status apply
    - table.add_column(:ops) do |apply|
      %a.btn.mini.success-flat.accept{:href => 'javascript:;', :data => {:id => apply.id}} 批准
      %a.btn.mini.danger-flat.reject{:href => 'javascript:;', :data => {:id => apply.id}} 拒绝