- page_title '登录'

.a{:style=>'margin-top:100px;'}

= simple_form_for resource, :as => resource_name, :url => session_path(resource_name) do |f|
  = f.input :login
  = f.input :password
  - if devise_mapping.rememberable?
    = f.input :remember_me, :as => :boolean
  = f.submit '登录'

= link_to '注册', '/account/sign_up'