- content_for :header do
  = render_cell :manage_courses_breadcrumb, :form, :model => @course_ware

.page-course-ware-form
  = simple_form_for @course_ware, :url => "/manage/course_wares/#{@course_ware.id}" do |f|
    .form-inputs
      = f.input :title, :input_html => {:class => 'xxlarge'}
      = f.input :desc, :input_html => {:rows => 6, :class => 'xxlarge'}
      = f.input :file_entity_id, :as => :hidden

      - if @course_ware.kind == 'youku' # 网络视频
        = f.select :kind, [['优酷 YOUKU', 'youku']], :label => '网络视频来源'
        = f.input :url, :label => '视频网址 URL', :input_html => {:class => 'xxlarge', :placeholder => 'http://'}

      - else
        - if @course_ware.file_entity
          .file
            .linked
              .desc 附件文件：
              .name= @course_ware.file_entity.attach_file_name
            .upload
              - page_file_uploader
              %a.btn.primary.course-ware-upload{:href => 'javascript:;'} 
                %i.icon-upload.icon-white
                %span 重新上传
        - else
          .file
            .linked{:style => 'display:none;'}
              .desc 附件文件：
              .name
            .upload
              - page_file_uploader
              %a.btn.primary.course-ware-upload{:href => 'javascript:;'} 
                %i.icon-upload.icon-white
                %span 上传文件

    .form-actions
      = f.button :submit, :class => 'success'
      %a.btn.cancel{:href => "/manage/chapters/#{@chapter.id}"}= t('common.form.cancel')