.page-files-index
  %h1 我的文件夹
  = render_cell :file_breadcrumb, :display

  .operatebar.btn-group
    %a.btn.upload{:href => 'javascript:;'} 上传文件
    %button.btn.primary.create-folder 新建文件夹

  .file-uploader
    .list
      .item.sample{:style => 'display:none;'}
        = page_progress_bar 61, :striped, :active
        .meta
          .filename foobarfoobarfoobarfoobarfoobarfoobarfoobar.zip
          .size 1.6M
          .percent 62%


  .files-view
    .list-view
      = page_data_table(:files, @media_resources, :striped, :bordered) do |table|
        - table.add_column(:name) do |mr|
          = link_to mr.name, "/disk/file?path=#{mr.path}"
        - table.add_column(:size_str)
        - table.add_column(:fileops_time)
        - table.add_column(:ops) do |mr|
          - url = "/disk?path=#{mr.path}"
          = link_to t('common.delete'), url, :method => :delete, :confirm => t('common.delete_confirm')

    .grid-view{:style => 'display:none;'}