.content-header
  %h1 #{@question.kind(:zh => true)} - #{@question.id}

= form_for @record, :url => knowledge_tests_path do |f|
  = hidden_field_tag :question_id, @question.id
  %h2.question-title #{@question.title}

  - form_part = ->(part) {render :partial => "knowledge_tests/parts/#{part}"}

  - case @question.kind
  - when :single_choice, :multiple_choices
    = form_part.call("choice")
  - when :true_false
    = form_part.call("true_false")
  - when :code
    = form_part.call("code")
  %div
    = f.submit "提交", :class => "btn success-flat"
    = link_to "返回", :back, :class => "btn success-flat"
    
