.page-dashboard
  .mainp66
    - if current_user.followings.count == 0
      .pblock
        = render_cell :follow, :recommend, :user => current_user
      .pblock
        .cpart.timeline
          %h3 公共动态
          = render_cell :timeline, :public
    - elsif current_user.followings.count < 10
      .pblock
        = render_cell :follow, :recommend, :user => current_user
      .pblock
        .cpart.timeline
          %h3 最新动态
          = render_cell :timeline, :home_timeline, :user => current_user
    - else
      .pblock
        .cpart.timeline
          %h3 最新动态
          = render_cell :timeline, :home_timeline, :user => current_user

  .sidep33
    .pblock
      = render_cell :course, :recent_learning, :user => current_user
    .pblock
      = render_cell :tags, :learning, :user => current_user
    .pblock
      = render_cell :course, :advise, :user => current_user