- hgoback '/'
- hbreadcrumb '首页', '/'

= page_top_fixed 'page-dashboard-base-info' do
  .user-data
    .avatar= avatar current_user, :medium
    .data
      .name
        %span= current_user.name
        %span= current_user_title
      .id
        - if current_user.is_teacher?
          %span 工号：
          %span= current_user.teacher.tid
        - if current_user.is_student?
          %span 学号：
          %span= current_user.student.sid

  .course-data
    .today
      .day= Time.now.day
      .d
        .weekday= ['星期天','星期一','星期二','星期三','星期四','星期五','星期六'][Time.now.wday]
      .icon

- if current_user.is_student?
  = "你是学生"

- if current_user.is_teacher?
  = "你是老师"
