= form_for [:admin, @question] do |f|
  = hidden_field_tag :kind, @question.kind
  = f.label :knowledge_node_id, "知识点"
  = f.select :knowledge_node_id, @nodes.map {|node|[node.name, node.id]}
  = f.label :title, "标题"
  = f.text_field :title

  - locals = {:f => f, :question => @question}
  - form_part = ->(part) {render :partial => "admin/knowledge_questions/parts/#{part}", :locals => locals}

  - case @question.kind
  - when :single_choice, :multiple_choices
    = form_part.call("choice")
  - when :true_false
    = form_part.call("true_false")
  - when :code
    = form_part.call("code")
  %div
    = f.submit "提交", :class => "btn success-flat"
    = link_to "返回", :back, :class => "btn success-flat"
