.choice
  .title= '请选择你要创建题的类型'
  .item= link_to '录入一道题', new_course_test_question_path(params[:course_id])
.test-questions
  - @test_questions.each do |test_question|
    .title= test_question.title
    .kind= test_question.kind

    - if test_question.kind =='SINGLE_CHOICE' || test_question.kind == 'MULTIPLE_CHOICE'
      - test_question.choice_options.each do |acc|
        = ":#{acc}  "

    - if test_question.kind =='SINGLE_CHOICE'
      .option= test_question.answer_choice

    - if test_question.kind == 'MULTIPLE_CHOICE'
      .option= test_question.answer_choice

    - if test_question.kind =='FILL'
      .option= test_question.answer_fill

    - if test_question.kind =='TRUE_FALSE'
      .option= test_question.answer_true_false

    = link_to '显示', test_question_path(test_question)
    = link_to '编辑', edit_test_question_path(test_question)
    = link_to '删除', test_question_path(test_question), :method => :delete