.item= @test_question.title
.item= @test_question.kind

- if @test_question.kind =='SINGLE_CHOICE' || @test_question.kind == 'MULTIPLE_CHOICE'
  - @test_question.choice_options.each do |acc|
    = ":#{acc}  "

- if @test_question.kind =='SINGLE_CHOICE'
  .item= @test_question.answer_choice

- if @test_question.kind == 'MULTIPLE_CHOICE'
  .item= @test_question.answer_choice

- if @test_question.kind =='FILL'
  .item= @test_question.answer_fill

- if @test_question.kind =='TRUE_FALSE'
  .item= @test_question.answer_true_false