= form_tag "/surveys/#{@survey.id}/survey_results", :method => :post do
  - @survey.survey_items.each do |item|
    .item
      - if item.is_single_choice?

        = item.content + "[#{item.kind}]"
        - item.choice_options.each_with_index do |option,index|
          .field
            - char = ('A'..'Z').to_a[index]
            = radio_button_tag "item[#{item.id}][answer]", char
            = option


      - elsif item.is_multiple_choice?

        = item.content + "[#{item.kind}]"
        - item.choice_options.each_with_index do |option,index|
          .field
            - char = ('A'..'Z').to_a[index]
            = check_box_tag "item[#{item.id}][answer][]", char
            = option

      - elsif item.is_fill?
        = item.content_by_replace(text_field_tag("item[#{item.id}][answer][]")).html_safe


      - elsif item.is_text?
        = item.content + "[#{item.kind}]"
        .field
          = text_area_tag "item[#{item.id}][answer]"

  = submit_tag '确定'
      
      
      

