.page-survey-result-show
  - survey = @survey_result.survey

  - @survey_result.survey_result_items.each do |r_item|
    .item
      - survey_item = r_item.survey_item

      - if survey_item.is_single_choice?

        = survey_item.content + "[#{survey_item.kind}]"
        = r_item.answer

      - elsif survey_item.is_multiple_choice?

        = survey_item.content + "[#{survey_item.kind}]"
        = r_item.answer

      - elsif survey_item.is_fill?

        = survey_item.content_by_replace("__")
        = r_item.answer

      - elsif survey_item.is_text?

        = survey_item.content + "[#{survey_item.kind}]"
        = r_item.answer
