.new= link_to "新建课件", "/chapters/#{@chapter.id}/course_wares/new"

.list
- @chapter.course_wares.each do |course_ware|
  .item
    = link_to course_ware.title, "/course_wares/#{course_ware.id}"
    = link_to "编辑", "/course_wares/#{course_ware.id}/edit"
    = link_to "删除", "/course_wares/#{course_ware.id}", :method => :delete, :confirm => "确定删除吗?"