- if @course_ware.is_youku?
  %ckplayer
    %flashvars
    - @course_ware.youku_video.video_files.each do |f|
      %video
        %file= f.url
        %size= f.size
        %seconds= f.seconds

- if @course_ware.is_sina?
  %ckplayer
    %flashvars
    - @course_ware.sina_video.video_files.each do |f|
      %video
        %file
          :cdata
            #{f.url}
        %seconds= f.seconds

- if @course_ware.is_tudou?
  %ckplayer
    %flashvars
    - user_agent = request.env['HTTP_USER_AGENT']
    - user_ip = request.remote_ip

    - tudou_video = @course_ware.tudou_video(user_agent)
    - tudou_video.set_x_forwarded_for_ip user_ip

    - tudou_video.video_files.each do |f|
      %video
        %file
          :cdata
            #{f.url}
        %seconds= f.seconds
        %iid= tudou_video.iid
        %vcode= tudou_video.vcode
        %from_youku= tudou_video.is_from_youku?
        %ua= user_agent
        %uip= user_ip

- if @course_ware.is_local_video?
  %ckplayer
    %flashvars
    %video
      %file= @course_ware.file_entity.attach.url