- if @course_ware.is_youku?
  %ckplayer
    %flashvars
    - @course_ware.youku_video.video_files.each do |f|
      %video
        %file= f.url
        %size= f.size
        %seconds= f.seconds

- if @course_ware.is_sina?
  %ckplayer
    %flashvars
    - @course_ware.sina_video.video_files.each do |f|
      %video
        %file
          :cdata
            #{f.url}
        %seconds= f.seconds

- if @course_ware.is_tudou?
  %ckplayer
    %flashvars
    - user_agent = request.env['HTTP_USER_AGENT']
    - @course_ware.tudou_video(user_agent).video_files.each do |f|
      %video
        %file
          :cdata
            #{f.url}
        %seconds= f.seconds

- if @course_ware.is_local_video?
  %ckplayer
    %flashvars
    %video
      %file= @course_ware.file_entity.attach.url