.page-course-ware-show
  .header
    %h1= @course_ware.title
    .desc= @course_ware.desc || t('common.course.course-ware-no-desc')

  .cbody
    .widget
      - if @course_ware.is_web_video?
        .video
          = course_ware_web_video_tag @course_ware
        .video-stat{:data => {:id => @course_ware.id}}
          .read 
            %span.desc 学习完成度
            %span.l= @course_ware.read_count_of(current_user)
            %span /
            %span.r= @course_ware.total_count

      - elsif @course_ware.file_entity.present?
        - if @course_ware.file_entity.is_flv?
          <video controls src="#{@course_ware.file_entity.attach.url}"></video>

        - if @course_ware.is_pdf? || @course_ware.is_ppt?
          - if @course_ware.convert_success?
            .pdf
              .images
                :ruby
                  images = @course_ware.output_images
                  width = images.first.width
                  height = images.first.height
                  w = 658
                  h = w * height / width

                - images.each do |img|
                  .image= fit_image img.url, :width => w, :height => h
            .pdf-stat{:data => {:id => @course_ware.id}}
              .pages
                %span.desc 当前页
                %span.current 1
                %span /
                %span.total= @course_ware.total_count

              .read
                %span.desc 学习完成度
                %span.l= @course_ware.read_count_of(current_user)
                %span /
                %span.r= @course_ware.total_count

          - else
            转码没有成功，或正在转码

    .infos
      .questions
        .bar 线上问答
        .form
          = simple_form_for Question.new, :url => [@chapter, :questions] do |f|
            .question-desc{:style => 'display:none;'}
              .p 请准确详尽的描述问题，方便他人理解你的疑问。
              .p 提问之前可以先查找有没有类似的问题已经被解答过，尽量避免提出重复的问题。
            .form-inputs
              = f.input :title, :as => :text, :input_html => {:placeholder => '你可以在这里提出问题'}
            .form-actions{:style => 'display:none;'}
              %a.btn.submit.success{:href => 'javascript:;'}= t('helpers.submit.question.create')
              %a.btn.cancel{:href => "javascript:;"}= t('common.form.cancel')

        = render 'course_wares/questions', :questions => @questions
