= page_tile :'questions-list', @questions do
  - add :title do |qu|
    = link_to truncate_u(qu.title, 140), qu
  - add_foot :avatar do |qu|
    = avatar qu.creator, :small
  - add_foot :name do |qu|
    = qu.creator.name
  - add_foot :time do |qu|
    于 #{qu.created_at}
  - add_foot :answers do |qu|
    #{qu.answers.count}个回答
  - add_foot :ops do |qu|
    - if qu.creator == @user
      %a.btn.danger.delete.mini{:href => 'javascript:;', :data => {:id => qu.id}} 删除问题