.page-question-tree
  .question
    .icon
    .title= @question.title
    .content= @question.content
    .fo
      - if @question.followed_by?(@user)
        = link_to "取消关注", "/questions/#{@question.id}/unfollow", :method => :post, :class => 'unfollow btn'
      - else
        = link_to "关注", "/questions/#{@question.id}/follow", :method => :post, :class => 'follow btn'
    .creator
      .avatar= avatar_link @question.creator, :small
      .name= user_link @question.creator
      .time= @question.updated_at

  - user = @user
  = page_tile(:answers, @question.answers) do
    - set_id do |answer|
      answer-#{answer.id}

    - add_left(:vote_up) do |answer|
      - if answer.has_voted_up_by? user
        = link_to "/answers/#{answer.id}/vote_cancel", :method => :put, :class => 'cancel', :title => '已投赞成票，点击取消' do
          %i.icon-chevron-up
      - else
        = link_to "/answers/#{answer.id}/vote_up", :method => :put, :title => '点击投赞成票' do
          %i.icon-chevron-up

    - add_left(:vote_sum)

    - add_left(:vote_down) do |answer|
      - if answer.has_voted_down_by? user
        = link_to "/answers/#{answer.id}/vote_cancel", :method => :put, :class => 'cancel', :title => '已投反对票，点击取消' do
          %i.icon-chevron-down
      - else
        = link_to "/answers/#{answer.id}/vote_down", :method => :put, :title => '点击投反对票' do
          %i.icon-chevron-down

    - add(:creator) do |answer|
      .avatar= avatar_link answer.creator, :small
      .name= user_link answer.creator
      .time= answer.updated_at

    - context do |answer|
      - add(:content)

      - if answer.creator == user
        - add(:ops) do
          %a.btn.success.mini{:href => "/answers/#{answer.id}/edit"}
            %i.icon-edit.icon-white
            %span= t('common.edit')
          = link_to "/answers/#{answer.id}", :method => :delete, :confirm => t('common.delete_confirm'), :class => 'btn danger mini' do
            %i.icon-minus.icon-white
            %span= t('common.delete')

  .my-answer
    - if @question.answered_by? @user
      .you-can-answer-only-once
        :ruby
          my_answer = @question.answer_of(@user)
          str = t('common.question.you-can-answer-only-once')
          str.sub!('%{your-answer}') do
            link_to t('common.question.your-answer'), "#answer-#{my_answer.id}"
          end
        = str.html_safe
    - else
      = simple_form_for [@question, Answer.new] do |f|
        .form-inputs
          = f.input :content, :as => :text, :input_html => {:rows => 5, :class => 'xxlarge'}
        .form-actions
          = f.button :submit, :class => 'success'