- content_for :header do
  = render_cell :manage_courses_breadcrumb, :applies, :course => @course

.page-course-applies
  .pblock.table
    = page_data_table(:'course-applies', @applies, :striped, :bordered) do |table|
      - table.add_column(:user) do |apply|
        = user_link apply.user
      - table.add_column(:status) do |apply|
        = course_apply_status apply
      - table.add_column(:ops) do |apply|
        = link_to "/manage/applies/#{apply.id}/accept", :class => 'btn mini success', :method => :put do
          %span 通过
        = link_to "/manage/applies/#{apply.id}/reject", :class => 'btn mini danger', :method => :put do
          %span 拒绝