- content_for :header do
  %h1 调查表管理
  .btns
    %a.btn.success{:href => '/manage/surveys/new'}
      %i.icon-plus.icon-white
      %span 新增调查表

.pblock.table
  = page_data_table(:surveys, @surveys, :striped, :bordered) do |table|
    - table.add_column(:id) do |survey|
      = "##{survey.id}"
    - table.add_column(:title) do |survey|
      = link_to survey.title, "/manage/surveys/#{survey.id}"
    - table.add_column(:count) do |survey|
      = survey.survey_results.count
    - table.add_column(:ops) do |survey|
      %a.btn.mini.detail{:href => "/manage/surveys/#{survey.id}"}
        %i.icon-list 
        %span 查看汇总详情
      = link_to "/manage/surveys/#{survey.id}", :method => :delete, :confirm => t('common.delete_confirm'), :class => 'btn mini danger' do
        %i.icon-remove.icon-white
        %span= t('common.delete')