- content_for :header do
  %h1 新增调查表

.page-survey-form
  .pblock.form
    = simple_form_for @survey, :url => '/manage/surveys' do |f|
      .form-inputs
        = f.input :title, :input_html => {:class => :xxlarge}, :placeholder => '例如，2013年上学期教学情况调查'

        :ruby
          s = SurveyTemplate.all.map {|st|
            [st.name, st.id]
          }

        = f.select :survey_template_id, s, :label => '调查表模板'

      .form-actions
        = f.button :submit, :class => 'success'
        %a.btn.cancel{:href => '/manage/surveys'}= t('common.form.cancel')