- if @teacher.present?
  - content_for :header do
    %h1 
      %a{:href => "/manage/surveys/#{@survey.id}"} 查结果汇总：#{@survey.title}
      %span /
      %span= @teacher.name

  .pblock.table
    :ruby
      survey_results = @survey.survey_results.where(
        'teacher_user_id = ?', @teacher.id
      ).page(params[:page])

    = page_data_table(:survey_results, survey_results, :striped, :bordered) do |table|
      - table.add_column(:user) do |sr|
        = link_to sr.user.name, "/manage/survey_results/#{sr.id}"
      - table.add_column(:time) do |sr|
        = sr.updated_at
      - table.add_column(:ops) do |sr|
        %a.btn.mini{:href => "/manage/survey_results/#{sr.id}"}
          %i.icon-list
          %span 查看详情

  = paginate survey_results


  - arr = %w(A B C D E F G H I J K L M N O P Q R S T U V W X Y Z)
  .pblock
    .page-survey-item-stats
      - results_count = @survey.survey_results.count

      - item_number = 0
      - @survey.survey_template.survey_template_items.each do |item|
        - item_number = item_number + 1

        .item-stat
          .content= item.content
          .options
            - case item.kind
            - when SimpleSurvey::SurveyTemplateItem::Kind::SINGLE_CHOICE
              - counts = @survey.get_single_choice_item_option_count(item_number)
              - idx = 0
              - item.options.each do |opt|
                - val = arr[idx]
                - count = counts[idx]
                - percent = results_count > 0 ? "#{(count * 100.0 / results_count).round(2)}%" : "--"
                .option{:data => {:o => val, :c => count, :p => percent}}
                  .text #{val}, #{opt}
                  .count= count
                  .percent= percent
                  / .progress
                  /   .page-progress.success.striped
                  /     .bar{:style => "width:#{percent};"}

                - idx = idx + 1
          .page-chart.survey-single-choice-stat

- else
  - content_for :header do
    %h1 调查结果汇总：#{@survey.title}

  - @teachers = User.with_role(:teacher).page params[:page]
  = page_data_table(:'survey_teachers', @teachers, :striped, :bordered) do |table|
    - table.add_column(:name)
    - table.add_column(:count) do |teacher|
      = @survey.get_result_count_for_teacher(teacher)

    - table.add_column(:ops) do |teacher|
      %a.btn.mini{:href => "?teacher=#{teacher.id}"}
        %i.icon-list
        %span 查看详情

  = paginate @teachers