.link= link_to '删除', test_paper_path(@test_paper), :method => :delete
.score 分数#{@test_paper.score}
- @test_paper.test_questions.each do |test_question|
  .P= '----------------------------------------------------------'
  - paper_item = @test_paper.find_item_for(test_question)
  = simple_form_for paper_item, :url => "/test_paper_items/#{paper_item.id}" do |f|
    - if paper_item.kind == 'FILL'
      .title
        = f.simple_fields_for :fill_fields, paper_item.fill_fields do |fields|
          - paper_item.each_fill_field do |fragment|
            = fragment
          - end.each.with_index do |_, index|
            = fields.input :"field#{index + 1}"

    - else
      .title= test_question.title
      - if %w(SINGLE_CHOICE MULTIPLE_CHOICE).include?(test_question.kind)
        - test_question.test_question_choice_options.result.each   do |key, value|
          =key
          =value
      = f.input paper_item.answer
    
    = f.submit


