= simple_form_for @homework, :url => "/chapters/#{@chapter.id}/homeworks" do |f|
  = f.input :title
  = f.input :content
  
  = f.simple_fields_for :homework_requirements do |rf|
    = rf.input :content

  = f.simple_fields_for :homework_attaches do |af|
    = af.input :file_entity_id
    = af.input :name

  = f.input :deadline, :order => [:year, :month]
  = f.button :submit
