.page-homework-show-student
  %label 作业的标题
  .title= @homework.title
  %label 作业的内容
  .content= @homework.content

  %label 作业的附件
  .attaches.list
    - @homework.homework_attaches.each do |attach|
      = link_to attach.name, "#"

  %label 作业的要求
  .requirements.list
    - page_file_uploader

    - @homework.homework_requirements.each do |requirement|
      .item{:data => {:id => requirement.id}}
        = requirement.content
        - if requirement.is_uploaded_by?(current_user)
          .tip 已经上传过
          - upload = requirement.upload_by(current_user)
          - upload.name

        %a.btn.success.homework-requirement-upload{:href => 'javascript:;'} 提交文件

  %babel 做作业的人
  .answers
    - @homework.homework_records.each do |record|
      = record.creator.name