- content_for :header do
  %h1 填写调查表：#{@survey.title}

- template = @survey.survey_template

- if template.present?
  .page-survey-show
    .template
      %span 被调查的教师：
      %span= @teacher.name
      %span ，
      %span 参与调查的学生：
      %span= current_user.name


    - if !@survey.has_completed_for_teacher_by?(@teacher, current_user) || params[:refill]
      = render_cell :survey, :form, :survey => @survey, :survey_result => @survey_result, :user => current_user, :teacher => @teacher
    - else
      = render_cell :survey, :result, :survey => @survey, :user => current_user, :teacher => @teacher

- else
  .error 调查表模板错误