- content_for :header do
  = render_cell :manage_courses_breadcrumb, :form, :model => @chapter

= simple_form_for @chapter, :url => "/manage/courses/#{@course.id}/chapters" do |f|
  .form-inputs
    = f.input :title
    = f.input :desc, :input_html => {:rows => 6}
  .form-actions
    = f.button :submit, :class => 'success'
    %a.btn.cancel{:href => "/manage/courses/#{@course.id}"}= t('common.form.cancel')