- content_for :header do
  = render_cell :manage_courses_breadcrumb, :display, :model => @chapter

  .btns
    %a.btn{:href => "/manage/chapters/#{@chapter.id}/edit"}
      %i.icon-edit
      %span= t('common.edit')

    %a.btn.success{:href => "/manage/chapters/#{@chapter.id}/course_wares/new"}
      %i.icon-plus.icon-white
      %span 增加课件
    %a.btn.success{:href => "/manage/chapters/#{@chapter.id}/course_wares/new?for=web_video"}
      %i.icon-plus.icon-white
      %span 增加网络视频

.page-manage-chapter-show
  .pblock.table
    = page_data_table :'course-wares', @course_wares, :striped, :bordered do |table|
      - table.add_column :title do |cw|
        = cw.title
      - table.add_column :kind
      - table.add_column :convert_status do |cw|
        - if cw.convert_status.present?
          %span.status{:class => cw.convert_status}= cw.convert_status
          = link_to "重转码", "/manage/course_wares/#{cw.id}/do_convert", :method => :put, :class => 'btn mini convert'

        - elsif cw.file_entity && cw.file_entity.can_be_converted?
          = link_to "开始转码", "/manage/course_wares/#{cw.id}/do_convert", :method => :put, :class => 'btn mini convert'

      - table.add_column :ops do |cw|

        %a.btn.mini{:href => "/manage/course_wares/#{cw.id}/edit"}
          %i.icon-edit
          %span= t('common.edit')

        = link_to "/manage/course_wares/#{cw.id}", :method => :delete, :confirm => t('common.delete_confirm'), :class => 'btn mini danger' do
          %i.icon-remove.icon-white
          %span= t('common.delete')

      - table.add_column :position do |cw|
        - if cw.next.present?
          = link_to "/manage/course_wares/#{cw.id}/move_down", :method => :put, :class => 'btn mini move-down' do
            %i.icon-arrow-down
        - else
          %a.btn.disabled.mini{:href=>'javascript:;'}
            %i.icon-arrow-down

        - if cw.prev.present?
          = link_to "/manage/course_wares/#{cw.id}/move_up", :method => :put, :class => 'btn mini move-up' do
            %i.icon-arrow-up
        - else
          %a.btn.disabled.mini{:href=>'javascript:;'}
            %i.icon-arrow-up