- content_for :header do
  = render_cell :manage_courses_breadcrumb, :display, :model => @chapter
  = page_button_group :courses do |g|
    - g.add '增加课件', "/manage/chapters/#{@chapter.id}/course_wares/new", :success
    - g.add '增加网络视频', "/manage/chapters/#{@chapter.id}/course_wares/new?for=web_video", :success

.page-manage-chapter-show
  = page_data_table :'course-wares', @course_wares, :striped, :bordered do |table|
    - table.add_column :title do |cw|
      = link_to cw.title, 'javascript:;'
    - table.add_column :kind do |cw|
      = cw.kind
    - table.add_column :desc do |cw|
      = truncate_u cw.desc, 20
    - table.add_column :ops do |cw|
      %a.btn.mini{:href => "/manage/course_wares/#{cw.id}/edit"}= t('common.edit')
      = link_to t('common.delete'), "/manage/course_wares/#{cw.id}", :method => :delete, :confirm => t('common.delete_confirm'), :class => 'btn mini danger'
    - table.add_column :position do |cw|
      - if cw.next.present?
        = link_to "/manage/course_wares/#{cw.id}/move_down", :method => :put, :class => 'btn mini move-down primary' do
          %i.icon-chevron-down.icon-white
      - if cw.prev.present?
        = link_to "/manage/course_wares/#{cw.id}/move_up", :method => :put, :class => 'btn mini move-up primary' do
          %i.icon-chevron-up.icon-white