-# use 上传用户头像
-# see 用户设置->设置头像

-htitle '设置头像'

.page-model-form
  .page-title 上传一张图片，然后选择要裁剪的部分，系统会自动替你裁好

  .page-setting
    .crop-avatars{:style=>'overflow:hidden;margin-top:10px;'}
      .f{:style=>'float:left;margin-right:10px;'}
        = avatar current_user, :large
      .f{:style=>'float:left;margin-right:10px;'}
        = avatar current_user, :medium
      .f{:style=>'float:left;margin-right:10px;'}
        = avatar current_user, :normal
      .f{:style=>'float:left;margin-right:10px;'}
        = avatar current_user, :tiny
      .f{:style=>'float:left;margin-right:10px;'}
        = avatar current_user, :mini

    = flash_info
    = form_tag '/auth/setting/avatar_submit', :multipart => true do
      .field
        %label 选择一张图片并上传
        .ip=file_field_tag :logo
      .field
        =submit_tag "上传图片"
