-#use 用户基本信息设置
-#see 用户设置->基本信息

-user  = current_user
-email = user.email
-name  = user.name

-htitle '基本信息设置'

.page-model-form
  .page-title 这里显示你的基本信息。你可以修改你的用户名。
  .page-setting
    = flash_info
    = form_for user,:url=>"/auth/setting", :html=>{:method=>:put} do |f|
      .field
        .mail.bold 你的电子邮箱是 #{email}
      .field.need
        %label 用户名
        =text_field_tag :name, name
      .field
        =submit_tag "确定"

  .page-avatar-setting-link
    = link_to '修改密码', '/account/edit'
    = link_to '设置头像', '/auth/setting/avatar'