- content_for :header do
  %h1 课程
  .page-desc 浏览系统内的课程

.page-courses-index
  = paginate @courses
  .courses.grid
    .your-info
      .user
        .avatar= avatar current_user
        .name= current_user.name
      .stat
        %span.quiet 提出问题
        %span= current_user.questions.count
        %span ·
        %span.quiet 解答问题
        %span= current_user.answers.count

      .desc
        欢迎访问 EduShare 线上课程。你可以在这里浏览课程视频和文档资料，进行练习和提出问题。

    - @courses.each do |course|
      :ruby
        progress = course.study_progress_by(current_user)

      .course
        .cover
          %a{:href => "/courses/#{course.id}"}
            = fit_image course.cover.versions[:normal].url, :width => 190, :height => 140
        .data
          .counts
            %span.chapters-count #{course.chapters.count} 个章节
            %span.questions-count #{course.questions_count} 个问答
          .title
            = link_to course.name, course
          .desc= truncate_u course.desc, 20
        .progress
          .page-progress.success.striped
            .bar{:style => "width:#{progress}%;"}
        .foot
          %span.percent #{progress}%
          %span.percent-str 学习进度
