- content_for :header do
  %h1 课程
  .page-desc 浏览系统内的课程

.page-courses-index
  .hot-courses.2week
    .headline
      %h2 近期热门课程

    :ruby
      courses = Course.top_interactive_sums_of(Date.today, Date.today - 13).limit(4)
    .courses
      - courses.each do |course|
        = render_cell :course, :smallcard, :course => course, :user => current_user

  .all-courses
    .headline
      %h2 全部课程

    .courses.grid
      .your-info
        .user
          .avatar= avatar current_user
          .name= current_user.name
        .stat
          %span.quiet 提出问题
          %span= current_user.questions.count
          %span ·
          %span.quiet 解答问题
          %span= current_user.answers.count

        .desc
          欢迎访问 EduShare 线上课程。你可以在这里浏览课程视频和文档资料，进行练习和提出问题。