- content_for :header do
  %h1= @course.name

.page-course-show
  - signed_today = @course.signed_today?(current_user)
  .user-course-checkin{:class => signed_today ? 'signed' : ''}
    .rank
      .desc 课程排名
      .r= @course.rank
    .checkin-info
      %i.checkin
      .desc 已签到
      .streak 
        %span 连续签到
        %span.count= @course.current_streak_for(current_user)
        %span 天
    .checkin-order
      .desc 签到成功！
      .ord
        %span 你今天在本课程第
        %span.order= @course.today_sign_order_of(current_user)
        %soan 个签到

    %a.checkin{:href => 'javascript:;', :data => {:id => @course.id}}
      %i.checkin
      %span 课程签到

  = page_tile :chapters, @chapters do
    - add_left :title do |chapter|
      = link_to chapter.title, chapter
    - add_left :desc
    - add_left :chart do |chapter|
      - if chapter.course_wares.count > 1
        .page-chart-label.chapter-read-pie
          .t 课件
          .c= chapter.course_wares.count
        .page-chart.chapter-read-pie{:data => {:url => "/charts/chapters/#{chapter.id}/read_pie"}}

    - add :items do |chapter|
      - chapter.course_wares.each do |cw|
        %a.item{:href => "/course_wares/#{cw.id}", :class => course_ware_reading_css_class(cw)}
          .line
          %i{:class => cw.kind}
          .title= cw.title
          .read-percent
            %span= course_ware_read_percent cw

          - if cw.is_youku?
            .cover.video.youku
              = fit_image cw.cover_url, :width => 80, :height => 45
          - if cw.is_ppt? || cw.is_pdf?
            .pages.ppt
              - cw.output_images[0..3].compact.each do |img|
                .page.ppt= fit_image img.url, :width => 80, :height => 45