.page-course-show
  = render_cell :course, :header, :course => @course
  
  .checkins
    = render_cell :course, :checkin, :user => current_user, :course => @course
    = render_cell :course, :student_select, :user => current_user, :course => @course

  .mainp66
    = render_cell :course, :show_chapters, :user => current_user, :course => @course
  .sidep33
    = render_cell :course, :learning_users, :course => @course