- content_for :header do
  %h1= @course.name

.page-course-show
  .user-course-sign
    .signed
  = page_tile :chapters, @chapters do
    - add_left :title do |chapter|
      = link_to chapter.title, chapter
    - add_left :desc
    - add :items do |chapter|
      - chapter.course_wares.each do |cw|
        %a.item{:href => "/course_wares/#{cw.id}"}
          .line
          %i{:class => cw.kind}
          %span.title= cw.title