- content_for :header do
  %h1= @course.name

.page-course-show
  = page_tile :chapters, @chapters do
    - add :title do |chapter|
      = link_to chapter.title, chapter
    - add_foot :'course-wares-count' do |chapter|
      #{chapter.course_wares.count} 个课件
    - add_foot :'homeworks-count' do |chapter|
      #{chapter.homeworks.count} 个练习