
= @course.name

= @course.cid

= @course.desc

= @course.syllabus

= image_tag @course.cover.url

.list= link_to "章节列表", "/courses/#{@course.id}/chapters"

/courses/:course_id/test_options/new(.:format)
.list= link_to '组卷参数调整和自动评分', course_test_options_path(@course)

.list= link_to '管理题库下的题目录入', course_test_questions_path(@course)

- test_paper = TestPaper.find_paper_for(@course,current_user)
- if test_paper
  .list= link_to '开始答题', edit_test_paper_path(test_paper) 
- else
  .list= link_to '开始答题', course_test_papers_path(@course), :method => :post