.page-course-show
  = render_cell :course, :header, :course => @course
  = render_cell :course, :navbar, :course => @course

  .mainp100
    .pblock.users-rank
      .cpart
        %h3 
          %i.icon-th-list
          %span 学习进度排名

      .page-course-users-rank
        .stat
          %span.total 总共 #{@rank.count} 人学习本课程
          - if user_signed_in?
            %span.mine 我的排名：#{@course.user_rank_of(current_user)}
        .users-head
          %span.index 排名
          %span.name 学友
          %span.percent 学习进度

        .users
          - @rank.each do |r|
            - user = r[:user]
            - index = r[:index]
            - percent = @course.read_percent(user)
            - klass = (user == current_user ? "me" : "")
            .user{:class => klass}
              .index= index
              .avatar= avatar_link user, :small
              .name= user_link user
              .prog
                .page-progress.info.striped
                  .bar{:style => "width:#{percent};"}
                  .p= percent