- arr = %w(A B C D E F G H I J K L M N O P Q R S T U V W X Y Z)

.page-survey-form
  - template = @survey.survey_template
  - if template.present?
    = simple_form_for SurveyResult.new, :url => "/surveys/#{@survey.id}/submit" do
      - if @survey_result.errors.present?
        .errors
          - @survey_result.errors.each do |k, v|
            .error
              %i.icon-exclamation-sign
              %span= v

      .survey-items
        - item_number = 0
        - template.survey_template_items.each do |item|
          - item_number = item_number + 1

          - case item.kind
          - when SimpleSurvey::SurveyTemplateItem::Kind::SINGLE_CHOICE
            .survey-item
              .kind.single-choice 单选
              .content= simple_format item.content
              .inputer
                .options
                  %input{:type => :hidden, :value => item.kind, :name => "survey_result[survey_result_items][#{item_number}][kind]"}
                  %input{:type => :hidden, :value => item_number, :name => "survey_result[survey_result_items][#{item_number}][item_number]"}

                  - idx = 0
                  - item.options.each do |opt|
                    - val = arr[idx]
                    .option
                      %input{:type => :radio, :value => val, :name => "survey_result[survey_result_items][#{item_number}][answer][]"}
                      #{val}, #{opt}
                    - idx = idx + 1


          - when SimpleSurvey::SurveyTemplateItem::Kind::MULTIPLE_CHOICE
            %span.multiple-choice 多选
          - when SimpleSurvey::SurveyTemplateItem::Kind::FILL 
            %span.fill 填空
          - when SimpleSurvey::SurveyTemplateItem::Kind::TEXT
            %span.text 问答

      .form-actions
        %input.btn.success{:type => :submit, :value => '填写完毕，提交'}
        %a.btn.cancel{:href => "/surveys"}= t('common.form.cancel')
