- content_for :header do
  .page-manage-courses-breadcrumb
    %ul.page-breadcrumb
      %li
        %a{:href => '/manage/courses'} 课程管理
        %span.divider /
      %li.active 导入土豆豆单

.page-manage-courses-import-video-list.step2
  .pblock.form
    = form_tag "/manage/courses/do_import_tudou_list", :method => :post, :multipart => true do
      .desc 即将导入以下内容
      
      .cname= @data[:name]
      .ccount 共 #{@data[:videos].length} 个视频

      .videos
        - @data[:videos].each do |c|
          .video
            .video-title= c[:title]
            .video-url
              %a{:href => c[:url], :target => '_blank'}= c[:url]

      %input{:type => :hidden, :name => :url, :value => @url}

      %input.btn.success{:name => 'commit', :type => :submit, :value => '确定'}
      %a.btn.cancel{:href => '/manage/courses'}= t('common.form.cancel')
