- content_for :header do
  = render_cell :manage_courses_breadcrumb, :display
  = page_button_group :courses do |g|
    - g.add '创建课程', '/manage/courses/new', :success
    - g.add '导入Excel', '/manage/courses/import', :success
    - g.add '导入优酷播放列表', '/manage/courses/import_youku_list', :success
    - g.add '导入土豆豆单', '/manage/courses/import_tudou_list', :success

= render_cell :layout, :manage_courses_filter, :query => @query

.page-admin-courses
  = paginate @courses
  = page_data_table(:courses, @courses, :striped, :bordered) do |table|
    - table.add_column(:id) do |course|
      = "##{course.id}"
    - table.add_column(:name) do |course|
      = link_to course.name, "/manage/courses/#{course.id}"
    - table.add_column(:cid)
    - table.add_column(:desc) do |course|
      = truncate_u course.desc, 20
    - table.add_column(:'chapters-count') do |course|
      = course.chapters.count
      
    - table.add_column(:ops) do |course|

      %a.btn.mini.inverse{:href => "/manage/courses/#{course.id}/edit"}
        %i.icon-edit.icon-white
        %span= t('common.edit')

      = link_to "/manage/courses/#{course.id}", :method => :delete, :confirm => t('common.delete_confirm'), :class => 'btn mini danger' do
        %i.icon-remove-sign.icon-white
        %span= t('common.delete')
