.page-content-header
  %h1= t('common.course.create_course')

= simple_form_for @course, :url => '/manage/courses' do |f|
  .form-inputs
    = f.input :name
    = f.input :cid
    = f.input :desc, :as => :text, :input_html => {:rows => 3}
    = f.input :cover, :as => :file
  .form-actions
    = f.button :submit, :class => 'success'
    %a.btn.cancel{:href => '/manage/courses'}= t('common.form.cancel')