- @chapters.each do |chapter|
  .chapter
    .title= chapter.title
    .desc=  chapter.desc
    .creator=  chapter.creator.name

    .edit= link_to '编辑',  edit_admin_chapter_path(chapter)
    .destroy= link_to '删除', chapter_path(chapter),  :method => :delete, :confirmation => true

.add= link_to '增加', new_chapter_path