.chapter
  .title= @chapter.title
  .desc=  @chapter.desc
  .creator=  @chapter.creator.name

  .edit= link_to '编辑',  edit_chapter_path(@chapter)
  .destroy= link_to '删除', chapter_path(@chapter),  :method => :delete, :confirmation => true
  = link_to '课件列表', "/chapters/#{@chapter.id}/course_wares"