- content_for :header do
  %h1 修改系统管理员密码

= simple_form_for @user, :url => '/admin/setting/change_password' do |f|
  = f.input :current_password
  = f.input :password
  = f.input :password_confirmation
  = f.button :submit, '修改密码', 'data-disable-with' => '正在保存', :class => 'success'