- content_for :header do
  %h1 头像设置
  .page-desc 修改你的用户头像

.page-account-avatar
  - if flash[:success].present?
    .fsuccess
      %i.icon-ok
      %span= flash[:success]

  .desc 上传一张图片，然后进行裁切

  .crop-avatars
    .img.s1= avatar current_user, :large
    .img.s2= avatar current_user, :normal
    .img.s3= avatar current_user, :small

  .upload
    - page_file_uploader
    %a.btn.primary-flat.avatar-upload{:href => 'javascript:;'} 
      %i.icon-upload.icon-white
      %span 上传图片

  .form{:style => 'display:none;'}
    = simple_form_for current_user, :url => '/account/avatar' do |f|
      .form-inputs
        .right
          .preview
          %a.btn.success-flat.submit{:href => 'javascript:;'} 
            %i.icon-ok.icon-white
            %span 确定
          %a.btn.gray-flat.cancel{:href => 'javascript:;'} 
            %i.icon-remove
            %span 取消

        .image{:style => 'max-width:60%;'}

        %input{:type => :hidden, :name => :file_entity_id}
        %input{:type => :hidden, :name => :origin_width}
        %input{:type => :hidden, :name => :origin_height}
        %input{:type => :hidden, :name => :page_width}
        %input{:type => :hidden, :name => :page_height}
        %input{:type => :hidden, :name => :cx}
        %input{:type => :hidden, :name => :cy}
        %input{:type => :hidden, :name => :cw}
        %input{:type => :hidden, :name => :ch}