- content_for :header do
  %h1 头像设置
  .page-desc 修改你的用户头像

.page-account-avatar
  - if flash[:error].present?
    .error= flash[:error]

  - if flash[:success].present?
    .fsuccess
      %i.icon-ok
      %span= flash[:success]

  .desc 上传一张图片，系统会自动替你裁成不同尺寸

  .crop-avatars
    .img= avatar current_user, :large
    .img= avatar current_user, :normal
    .img= avatar current_user, :small

  = simple_form_for current_user, :url => '/account/avatar' do |f|
    = f.input :avatar, :required => true, :hint => '选择一张图片并上传'
    = f.button :submit, :class => 'success', :disable_with => '正在提交'