- content_for :header do
  %h1 用户管理
  .btns
    %a.btn.success-flat{:href => '/admin/users/new'}
      %i.icon-plus.icon-white
      %span 新增用户
    %a.btn.success-flat{:href => '/admin/users/import'}
      %i.icon-upload.icon-white
      %span 导入Excel

.page-admin-users
  .pblock.filter
    = render_cell :layout, :admin_users_filter, :query => @query

  .pblock.table
    = page_data_table(:users, @users, :striped, :bordered) do |table|
      - table.add_line_data(:role)
      - table.add_column(:id) do |user|
        = "##{user.id}"
      - table.add_column(:role) do |user|
        = user_roles_str user
      - table.add_column(:login)
      - table.add_column(:name) do |user|
        = user_link user
      - table.add_column(:email)
      - table.add_column(:ops) do |user|
        - if !user.is_admin?
          = link_to [:edit, :admin, user], :class => 'edit btn mini gray-flat' do
            %i.icon-edit
            %span= t('common.user.edit')
          = link_to [:admin, user], :method => :delete, :confirm => t('common.delete_confirm'), :class => 'btn mini danger-flat' do
            %i.icon-remove.icon-white
            %span= t('common.delete')

  = paginate @users