- content_for :header do
  %h1 新增用户

= simple_form_for @user, :url => '/admin/users' do |f|
  .form-inputs
    = f.input :login
    = f.input :name
    = f.input :email
    = f.input :password
    = f.input :password_confirmation

  .form-actions
    = f.button :submit, :class => 'success'
    %a.btn.cancel{:href => '/admin/users'}= t('common.form.cancel')