.course.page-course.card
  %a.course-link{:href => "/courses/#{@course.id}"}
    .cover
      = fit_image @course.cover.versions[:normal].url, :height => 160
    .desc
      = simple_format truncate_u(@course.desc, 64)
    .update-status
      = course_update_status @course
    .go-study
      %span.title= truncate_u(@course.name, 8)
      %i.icon-chevron-right