.sidebar
  %a.course-link{:href => "/courses/#{@course.id}"}
    .cb
      %i.icon-book
      %span.name= truncate_u @course.name, 24

  - if @user.present?
    .user-card
      .avatar= avatar_link @user
      .uinfo
        .name= user_link @user
        .percent
          - percent = @course.read_percent(@user)
          .page-progress.info.striped
            .bar{:style => "width:#{percent};"}
            .p= percent

    .user-rank
      .d 
        %span 我的排名：
        %span.r #{@course.user_rank_of(@user)}
        %span= link_to '查看详细', "/courses/#{@course.id}/users_rank"

  .items