- title = t('common.site.title.app')

- content_for :javascript do
  = javascript_include_tag '/highcharts/js/highcharts'

!!!
- simple_page_layout title, :html_lang => :zh, :body_class => 'account' do
  - if current_user.is_admin?
    = render_cell :layout, :topnav_admin, :user => current_user
  - else
    = render_cell :layout, :topnav, :user => current_user

  = render_cell :layout, :account_sidebar, :user => current_user

  .page-content
    - header_content = yield :header
    - if header_content.present?
      .content-header= header_content
    = yield
    .clearfix