- title = t('common.site.title.app')
- home_title = t('common.site.home_title.app')

- content_for :javascript do
  = javascript_include_tag '/highcharts/js/highcharts'
  = javascript_include_tag '/highcharts/js/highcharts-more'
  = javascript_include_tag '/highcharts/js/modules/exporting.cn'

!!!
- simple_page_layout title, :html_lang => :zh, :body_class => 'app' do
  - if user_signed_in?
    .page-chat-bar{:data => {:'user-id' => current_user.id, :'user-name' => current_user.name}}
      .contacts
        - User.limit(20).where('id <> ?', current_user.id).each do |user|
          .user{:data => {:id => user.id, :name => user.name}}
            .avatar= avatar user, :small
      .chat-box
        .headbar
          .avatar
          .contact 
            %span 和
            %span.name
            %span 聊天
        .chatlog
        .inputer
          %textarea.ipt
          %a.btn.success.small.send{:href => 'javascript:;'} 发送


  .page-sidebar
    - if current_user.is_teacher?
      = simple_navbar :teacher, :as_list, :with_icon
    - if current_user.is_student?
      = simple_navbar :student, :as_list, :with_icon

  = page_navbar(:fixed_top, :color_inverse) do |navbar|
    - navbar.prepend link_to(home_title, '/', :class => :brand)
    - navbar.add_item(current_user.name, '/')
    - navbar.add_item('账号设置', '/account/edit')
    - navbar.add_item('退出登录', '/account/sign_out')

  .page-search-bar
  .page-content-header
    .header-inner
      = yield :header

  .page-content
    .content-inner
      = yield