- title = t('common.site.title.app')
- home_title = t('common.site.home_title.app')

- content_for :javascript do
  = #javascript_include_tag '/youku/youku-api'
  = javascript_include_tag '/highcharts/js/highcharts'
  = javascript_include_tag '/highcharts/js/modules/exporting.cn'

!!!
- simple_page_layout title, :html_lang => :zh, :body_class => 'app' do
  = page_navbar(:fixed_top, :color_inverse) do |navbar|
    - navbar.prepend link_to(home_title, '/', :class => :brand)
    - navbar.add_item(current_user.name, '/')
    - navbar.add_item('账号设置', '/account/edit')
    - navbar.add_item('退出登录', '/account/sign_out')

  .page-layout-course-show
    .sidebar
      .back
        = link_to '/courses' do
          %i.icon-backward.icon-white
          %span 课程浏览

      - if user_signed_in?
        .user-card
          .avatar= avatar current_user
          .info
            .name= current_user.name
            .desc 正在进行学习

          .clearfix
          .percent
            .d 学习进度：
            - percent = @course.read_percent(current_user)
            .page-progress.success.striped
              .bar{:style => "width:#{percent};"}
              .p= percent

      .items



    .content
      = yield