- title = t('common.site.title.app')

- content_for :javascript do
  = javascript_include_tag '/highcharts/js/highcharts'
  = render_cell :layout, :google_analytics_code if R::INTERNET

!!!
- simple_page_layout title, :html_lang => :zh, :body_class => 'app' do
  = render_cell :layout, :topnav, :user => current_user
  = render_cell :layout, :searchbar, :user => current_user
  = render_cell :layout, :sidebar, :user => current_user
  / = render_cell :chat, :chatbar, :user => current_user

  .page-layout-application
    .page-content.grids-style
      - header_content = yield :header
      - if header_content.present?
        .content-header= header_content
      = yield
      .clearfix